<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alicantara Cases</title>
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon.jpeg">

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">

    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>Alicantara Cases</h1>

            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="links-Navbar">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./galeria.html">Galería</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html">Contacto</a></li>     
            </ul>

            <label for="check-menu" class="label-check">
                <img src="../assets/images/menu-alt-05-svgrepo-com.svg" alt="menu" class="menu-hamburguesa" width="60" height="60">
            </label>
        </nav>
    </header>
    <main>
        

        <section class="seccion-blanca">
            <h2 class="menos-margin">CONTACTO</h2>
            <div class="container-empresa">
                <table class="contacto">
                    <tr class="contacto-fila">
                        <td class="contacto-columna">Nombre de la Empresa:</td>
                        <td class="contacto-columna">Alicantara Cases S.L.</td>
                    </tr>
                    <tr class="contacto-fila">
                        <td class="contacto-columna">Teléfono de Contacto:</td>
                        <td class="contacto-columna">+34 66 252 54 76</td>
                    </tr>
                    <tr class="contacto-fila">
                        <td class="contacto-columna">E-mail:</td>
                        <td class="contacto-columna">clientes@AlicantaraCases.com</td>
                    </tr>
                    <tr class="contacto-fila">
                        <td class="contacto-columna">Direccion:</td>
                        <td class="contacto-columna">Plaza de los luceros 1, 03001, Alicante, España</td>
                    </tr>
                </table>
            </div>
            <div class="container-map">
                <div id="map"></div>
            </div>
            
        </section>
    </main>
    <footer>
        <div class="container-footer">
            <ul>
                <li>
                    <a href="https://www.instagram.com/_alicantara?igsh=MTcyNjg3cnVraTYxMA==" target="_blank"><img src="../assets/images/iconosFooter/instagram-rounded-border-svgrepo-com.svg" alt="icono de instagram" width="800" height="800" class="icono-footer">_Alicantara</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><img src="../assets/images/iconosFooter/facebook-svgrepo-com.svg" alt="icono de facebook" width="800" height="800" class="icono-footer">_AlicantaraCase</a>
                </li>
                <li>
                    <a href="https://x.com/?lang=es" target="_blank"><img src="../assets/images/iconosFooter/twitter-svgrepo-com.svg" alt="icono de twitter" width="800" height="800" class="icono-footer">Alicantara2024</a>
                </li>
            </ul>
            <p>Copyright © 2024-2025 Alicantara Company S.L. Todos los derechos reservados.</p>
        </div>
    </footer>   
    
    <!--JAVASCRIPT-->
    <!--MAPA PRINCIPAL-->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!--PARA COLOCAR LA RUTA-->
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="../js/mapa.js"></script>
</body>
</html>