<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alicantara Cases</title>
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon.jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>Alicantara Cases</h1>

            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="links-Navbar">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./galeria.html">Galería</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html">Contacto</a></li>     
            </ul>

            <label for="check-menu" class="label-check">
                <img src="../assets/images/menu-alt-05-svgrepo-com.svg" alt="menu" class="menu-hamburguesa" width="60" height="60">
            </label>
        </nav>
    </header>
    <main>
        <section class="seccion-blanca">
            <h2 class="menos-margin">GALERIA</h2>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../assets/images/recomendado/recomendado1.webp" alt="Imagen 1" width="800" height="800"></div>
                <div class="swiper-slide"><img src="../assets/images/recomendado/recomendado2.webp" alt="Imagen 2" width="800" height="800"></div>
                <div class="swiper-slide"><img src="../assets/images/recomendado/recomendado3.jpg" alt="Imagen 3" width="800" height="800"></div>
                <div class="swiper-slide"><img src="../assets/images/recomendado/recomendado4.jpg" alt="Imagen 4" width="800" height="800"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        </section>  
    </main>
    <footer>
        <div class="container-footer">
            <ul>
                <li>
                    <a href="https://www.instagram.com/_alicantara?igsh=MTcyNjg3cnVraTYxMA==" target="_blank"><img src="../assets/images/iconosFooter/instagram-rounded-border-svgrepo-com.svg" alt="icono de instagram" width="800" height="800" class="icono-footer">_Alicantara</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><img src="../assets/images/iconosFooter/facebook-svgrepo-com.svg" alt="icono de facebook" width="800" height="800" class="icono-footer">_AlicantaraCase</a>
                </li>
                <li>
                    <a href="https://x.com/?lang=es" target="_blank"><img src="../assets/images/iconosFooter/twitter-svgrepo-com.svg" alt="icono de twitter" width="800" height="800" class="icono-footer">Alicantara2024</a>
                </li>
            </ul>
            <p>Copyright © 2024-2025 Alicantara Company S.L. Todos los derechos reservados.</p>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../js/galeria.js"></script>
</body>
</html>